{% extends "base.html" %}

{% block vsebina %}

    <h1>Kalkulator indeksa telesne mase</h1>

    <div>
        <h5>Izracunaj si BMI index:</h5>
        <form method="post" action="/bmicalc">
            <table>
                <tr>
                    <td>Visina (v metrih):</td>
                    <td><input name="visina"></td>
                </tr>
                <tr>
                    <td>Teza v kilogramih:</td>
                    <td><input name="teza"></td>
                </tr>
            </table>
            <br>
            <button class="btn btn-primary" type="submit">Izracunaj</button>
        </form>
    </div>

{% endblock vsebina %}



